.panjang {
    width: 600px;
    height: 300px;
    /* linear gradient(<sudut> | <arah>, <warna awal>....<warna akhir> */
    background-image: linear-gradient(to right, #0F2027,#203A43, #2C5364);
}

