html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.65;
  padding-bottom: 1000px;
  background-color: #ddd;
}

/* latihan 1 */
.container-satu {
  width: 800px;
  margin: 50px auto;
  background-color: aqua;
  /* sekedar saran untuk 2 dibawah ini biasanya satu paket */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}
.kolom-utama {
  order: 2;
  flex : 3;
}
.leftbar {
  order: 1;
  flex: 1;
}
.rightbar {
  order: 3;
  flex: 1;
}

.container-dua {
  width: 800px;
  margin: 50px auto;
  /* margin atas bawah 50, kiri kanan auto */
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.card.satu {
  background-color: greenyellow;
}
.card.dua {
  background-color: yellowgreen;
}
.card.tiga {
  background-color: darkviolet;
}
