/*css reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}



body {
    line-height: 1;
    background-image: url("bg4.webp");
    background-repeat: repeat-xy;
    /*background-position: center;*/
    /*background-size: cover;*/
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.conteiner {
    background-color: white;
    width: 920px;
    margin: 15px auto;
    position: relative;
}
.header {
    padding: 15px;
}
.header .judul {
    font-size: 45px;
    font-style: italic;
    font-family: "Candara Light";
    font-weight: bold;
}
.header ul li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
}
.header a {
    text-decoration: none;
    color: rebeccapurple;
    padding: 2px;
}
.header a:hover {
    background-color: lightblue;
    color: white;
}
.image {
    height: 427px;
    background-image: url("image3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}
.leftbar {
    width: 600px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}
.leftbar .judulpage {
    font-size: 30px;
    font-weight: bold;
}
.leftbar .penulis {
    margin-top: 5px;
    font-size: 12px;
}
.leftbar p {
    margin-bottom: 20px;
    font-size: 15px;
}
.footer .copy {
    height: 15px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
}
.rightbar h3 {
    font-weight: bold;
    font-size: 18px;

}
.rightbar {
    width: 300px;
    float: right;
    padding: 10px;
}
.rightbar img {
    width: 80px;
    height: 80px;
    float: left;
    padding-right: 10px;
}
.rightbar p {
    font: 14px/18px "Arial Narrow";
}
.usd {
    position: absolute;
    right: 10px;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: rebeccapurple;
    border-bottom: 4px solid aqua ;
    z-index: 9999999999999999999999999999999999999999999;
 }

/*clear fix*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}